.App {
  padding: 50px 100px;
  background-color: #e5e5e5;
  height: 100%;
}

.order {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6e6893;
}
